# Lab. 1-1 Basic Implementation

## Database Test

In [1]:
from sqlalchemy import create_engine, text, inspect
from sqlalchemy.orm import Session

In [2]:
engine = create_engine('sqlite:///../Chinook.db')

# table names
inspector = inspect(engine)
table_names = inspector.get_table_names()
print("table_names:\n", table_names)

# simple query
with Session(engine) as session:
    result = session.execute(text("SELECT * FROM Artist LIMIT 10"))
    print("\nrows:")
    for row in result:
        print(row)

table_names:
 ['Album', 'Artist', 'Customer', 'Employee', 'Genre', 'Invoice', 'InvoiceLine', 'MediaType', 'Playlist', 'PlaylistTrack', 'Track']

rows:
(1, 'AC/DC')
(2, 'Accept')
(3, 'Aerosmith')
(4, 'Alanis Morissette')
(5, 'Alice In Chains')
(6, 'Ant√¥nio Carlos Jobim')
(7, 'Apocalyptica')
(8, 'Audioslave')
(9, 'BackBeat')
(10, 'Billy Cobham')

## Bedrock Model Access

In [3]:
import boto3
from botocore.config import Config

region_name = "us-west-2"
llm_model = "anthropic.claude-3-5-haiku-20241022-v1:0"

def init_boto3_client(region: str):
    retry_config = Config(
        region_name=region,
        retries={"max_attempts": 10, "mode": "standard"}
    )
    return boto3.client("bedrock-runtime", region_name=region, config=retry_config)

def converse_with_bedrock(boto3_client, sys_prompt, usr_prompt):    
    temperature = 0.0
    top_p = 0.1
    inference_config = {"temperature": temperature, "topP": top_p}
    
    response = boto3_client.converse(
        modelId=llm_model, 
        messages=usr_prompt, 
        system=sys_prompt,
        inferenceConfig=inference_config
    )

    return response['output']['message']['content'][0]['text']


boto3_client = init_boto3_client(region_name)

In [4]:
test_sys_prompt = [{
    "text": "You are a cool assistant."
}]

test_user_prompt = [{
    "role": "user",
    "content": [{"text": "Hi! What's your name?"}]
}]

response = converse_with_bedrock(boto3_client, test_sys_prompt, test_user_prompt)
print(response)

I'm Claude, an AI created by Anthropic. I aim to be helpful, honest, and direct. How are you doing today?

## Basic Text-to-SQL Prompt

In [5]:
def get_schema_info(db_path):
    engine = create_engine(f'sqlite:///{db_path}')

    inspector = inspect(engine)
    schema_info = {}

    tables = inspector.get_table_names()
    for table_name in tables:
        columns = inspector.get_columns(table_name)

        table_info = f"Table: {table_name}\n"
        table_info += "\n".join(f"  - {col['name']} ({col['type']})" for col in columns)
        schema_info[table_name] = table_info

    return schema_info

schema = get_schema_info("../Chinook.db")
print(schema['Employee'])

Table: Employee
  - EmployeeId (INTEGER)
  - LastName (NVARCHAR(20))
  - FirstName (NVARCHAR(20))
  - Title (NVARCHAR(30))
  - ReportsTo (INTEGER)
  - BirthDate (DATETIME)
  - HireDate (DATETIME)
  - Address (NVARCHAR(70))
  - City (NVARCHAR(40))
  - State (NVARCHAR(40))
  - Country (NVARCHAR(40))
  - PostalCode (NVARCHAR(10))
  - Phone (NVARCHAR(24))
  - Fax (NVARCHAR(24))
  - Email (NVARCHAR(60))

In [6]:
dialect = "sqlite"
top_k = 10
table_info = schema['Customer']

sys_prompt = [{
    "text": f"""You are a {dialect} expert.
Given an input question, first create a syntactically correct SQLite query to run.
Unless the user specifies in the question a specific number of examples to obtain, query for at most {top_k} results using the LIMIT clause as per SQLite. You can order the results to return the most informative data in the database.
Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in double quotes (") to denote them as delimited identifiers.
Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
Pay attention to use date(\'now\') function to get the current date, if the question involves "today" 
    
Only use the following tables:
{table_info}
""" 
}]


def get_user_prompt(question):
    return [{
        "role": "user",
        "content": [{"text": f"Question:\n{question}]\n Skip the preamble and provide only the SQL."
        }]
    }]

response = converse_with_bedrock(boto3_client, sys_prompt, get_user_prompt("List the total sales per country. Which country's customers spent the most?"))
sql_query = text(response)
print(sql_query)

SELECT "Country", SUM("Total") as TotalSales
FROM (
    SELECT c."Country", i."Total"
    FROM Customer c
    JOIN Invoice i ON c."CustomerId" = i."CustomerId"
)
GROUP BY "Country"
ORDER BY TotalSales DESC
LIMIT 10;

In [7]:
with Session(engine) as session:
    result = session.execute(sql_query)
    for row in result:
        print(row)

('USA', 523.0600000000003)
('Canada', 303.9599999999999)
('France', 195.09999999999994)
('Brazil', 190.09999999999997)
('Germany', 156.48)
('United Kingdom', 112.85999999999999)
('Czech Republic', 90.24000000000001)
('Portugal', 77.23999999999998)
('India', 75.25999999999999)
('Chile', 46.62)

## Chain-of-Thought Prompt

In [8]:
table_info = schema['Customer'] + "\n" + schema['Invoice']
print(table_info)

Table: Customer
  - CustomerId (INTEGER)
  - FirstName (NVARCHAR(40))
  - LastName (NVARCHAR(20))
  - Company (NVARCHAR(80))
  - Address (NVARCHAR(70))
  - City (NVARCHAR(40))
  - State (NVARCHAR(40))
  - Country (NVARCHAR(40))
  - PostalCode (NVARCHAR(10))
  - Phone (NVARCHAR(24))
  - Fax (NVARCHAR(24))
  - Email (NVARCHAR(60))
  - SupportRepId (INTEGER)
Table: Invoice
  - InvoiceId (INTEGER)
  - CustomerId (INTEGER)
  - InvoiceDate (DATETIME)
  - BillingAddress (NVARCHAR(70))
  - BillingCity (NVARCHAR(40))
  - BillingState (NVARCHAR(40))
  - BillingCountry (NVARCHAR(40))
  - BillingPostalCode (NVARCHAR(10))
  - Total (NUMERIC(10, 2))

In [9]:
example = """
<example>
<query>
Find the top 3 customers who have spent the most money in 2023, showing their names and total spending.
</query> 
<thought_process> 
1. We need to join the Customer and Invoice tables. 
2. We'll sum up the Total from Invoice for each customer. 
3. We'll filter for invoices from the year 2023. 
4. We'll order by the total spending in descending order. 
5. We'll limit the results to the top 3 customers. 
</thought_process> 
<sql> 
SELECT c.FirstName, c.LastName, SUM(i.Total) AS TotalSpending FROM Customer c JOIN Invoice i ON c.CustomerId = i.CustomerId WHERE YEAR(i.InvoiceDate) = 2023 GROUP BY c.CustomerId, c.FirstName, c.LastName ORDER BY TotalSpending DESC LIMIT 3; 
</sql> 
</example> 

<example> 
<query>
List all customers from the USA who have not made any purchases in the last 6 months.
</query> 
<thought_process> 
1. We need to use both the Customer and Invoice tables. 
2. We'll filter for customers from the USA. 
3. We'll use a LEFT JOIN to include customers with no invoices. 
4. We'll check for the absence of recent invoices (within the last 6 months). 
5. We'll return the customer's full name and email. 
</thought_process> 
<sql> 
SELECT c.FirstName, c.LastName, c.Email FROM Customer c LEFT JOIN Invoice i ON c.CustomerId = i.CustomerId AND i.InvoiceDate >= DATE_SUB(CURDATE(), INTERVAL 6 MONTH) WHERE c.Country = 'USA' AND i.InvoiceId IS NULL; 
</sql> 
</example>
"""

In [10]:
llm_model = "anthropic.claude-3-5-sonnet-20241022-v2:0"

sys_prompt = [{
    "text": f"""You are a {dialect} expert.
Given an input question, first create a syntactically correct SQLite query to run.
Unless the user specifies in the question a specific number of examples to obtain, query for at most {top_k} results using the LIMIT clause as per SQLite. You can order the results to return the most informative data in the database.
Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in double quotes (") to denote them as delimited identifiers.
Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
Pay attention to use date(\'now\') function to get the current date, if the question involves "today" 
    
<schema>
{table_info}
</schema>

<examples>
{example}
</examples>
""" 
}]


def get_user_prompt(question):
    return [{
        "role": "user",
        "content": [{"text": f"<query>\n{question}</query>]"
        }]
    }]

response = converse_with_bedrock(boto3_client, sys_prompt, get_user_prompt("Find the average invoice total for each country, but only for countries with more than 5 customers, ordered by the average total descending."))
print(response)

<thought_process>
1. We need to work with both Customer and Invoice tables
2. First, we need to count customers per country to filter countries with >5 customers
3. We need to calculate the average invoice total per country
4. We'll need to use GROUP BY for the country
5. We'll use HAVING to filter for countries with more than 5 customers
6. Order the results by average total in descending order
</thought_process>

<sql>
SELECT
    c."Country",
    COUNT(DISTINCT c."CustomerId") as "CustomerCount",
    ROUND(AVG(i."Total"), 2) as "AverageTotal"
FROM Customer c
LEFT JOIN Invoice i ON c."CustomerId" = i."CustomerId"
GROUP BY c."Country"
HAVING COUNT(DISTINCT c."CustomerId") > 5
ORDER BY "AverageTotal" DESC;
</sql>

In [11]:
thought_process = response.split('<thought_process>')[1].split('</thought_process>')[0].strip()
sql = response.split('<sql>')[1].split('</sql>')[0].strip()

print("Thought:\n", thought_process)

print("\nSQL:\n", sql)

Thought:
 1. We need to work with both Customer and Invoice tables
2. First, we need to count customers per country to filter countries with >5 customers
3. We need to calculate the average invoice total per country
4. We'll need to use GROUP BY for the country
5. We'll use HAVING to filter for countries with more than 5 customers
6. Order the results by average total in descending order

SQL:
 SELECT
    c."Country",
    COUNT(DISTINCT c."CustomerId") as "CustomerCount",
    ROUND(AVG(i."Total"), 2) as "AverageTotal"
FROM Customer c
LEFT JOIN Invoice i ON c."CustomerId" = i."CustomerId"
GROUP BY c."Country"
HAVING COUNT(DISTINCT c."CustomerId") > 5
ORDER BY "AverageTotal" DESC;

In [12]:
sql_query = text(sql)
with Session(engine) as session:
    result = session.execute(sql_query)
    for row in result:
        print(row)

('USA', 13, 5.75)
('Canada', 8, 5.43)

## Dynamic Few Shot Samples

In [14]:
examples = [
    {
        "input": "List all artists.", 
        "query": "SELECT * FROM Artist;"},
    {
        "input": "Find all albums for the artist 'AC/DC'.",
        "query": "SELECT * FROM Album WHERE ArtistId = (SELECT ArtistId FROM Artist WHERE Name = 'AC/DC');",
    },
    {
        "input": "List all tracks in the 'Rock' genre.",
        "query": "SELECT * FROM Track WHERE GenreId = (SELECT GenreId FROM Genre WHERE Name = 'Rock');",
    },
    {
        "input": "Find the total duration of all tracks.",
        "query": "SELECT SUM(Milliseconds) FROM Track;",
    },
    {
        "input": "List all customers from Canada.",
        "query": "SELECT * FROM Customer WHERE Country = 'Canada';",
    },
    {
        "input": "How many tracks are there in the album with ID 5?",
        "query": "SELECT COUNT(*) FROM Track WHERE AlbumId = 5;",
    },
    {
        "input": "Find the total number of invoices.",
        "query": "SELECT COUNT(*) FROM Invoice;",
    },
    {
        "input": "List all tracks that are longer than 5 minutes.",
        "query": "SELECT * FROM Track WHERE Milliseconds > 300000;",
    },
    {
        "input": "Who are the top 5 customers by total purchase?",
        "query": "SELECT CustomerId, SUM(Total) AS TotalPurchase FROM Invoice GROUP BY CustomerId ORDER BY TotalPurchase DESC LIMIT 5;",
    },
    {
        "input": "How many employees are there",
        "query": 'SELECT COUNT(*) FROM "Employee"',
    },
]

In [18]:
import json

embed_model = "amazon.titan-embed-text-v2:0"
region_name = "us-west-2"

def input_embedding(example):
    for example in examples:
        input_text = example['input']
        query = example['query']

        response = boto3_client.invoke_model(
            modelId=embed_model,
            body=json.dumps({"inputText": input_text})
        )

        # Data part
        body = {
            "input": input_text,
            "query": query,
            "input_v": json.loads(response['body'].read())['embedding']
        }
        memory_storage.append(body)

memory_storage = []
input_embedding(examples)

for item in memory_storage:
    truncated_item = item.copy()
    truncated_item['input_v'] = str(item['input_v'][:3]) + '...' 
    print(json.dumps(truncated_item, indent=2))
    print()

{
  "input": "List all artists.",
  "query": "SELECT * FROM Artist;",
  "input_v": "[-0.045493729412555695, 0.01855963096022606, 0.02659459225833416]..."
}

{
  "input": "Find all albums for the artist 'AC/DC'.",
  "query": "SELECT * FROM Album WHERE ArtistId = (SELECT ArtistId FROM Artist WHERE Name = 'AC/DC');",
  "input_v": "[0.0015671148430556059, 0.02450655587017536, 0.022804712876677513]..."
}

{
  "input": "List all tracks in the 'Rock' genre.",
  "query": "SELECT * FROM Track WHERE GenreId = (SELECT GenreId FROM Genre WHERE Name = 'Rock');",
  "input_v": "[-0.05369335412979126, 0.01429151464253664, -0.01829848252236843]..."
}

{
  "input": "Find the total duration of all tracks.",
  "query": "SELECT SUM(Milliseconds) FROM Track;",
  "input_v": "[-0.04504380747675896, 0.01568489708006382, -0.07158748060464859]..."
}

{
  "input": "List all customers from Canada.",
  "query": "SELECT * FROM Customer WHERE Country = 'Canada';",
  "input_v": "[-0.08925836533308029, 0.03614963963627815, -0.02465762384235859]..."
}

{
  "input": "How many tracks are there in the album with ID 5?",
  "query": "SELECT COUNT(*) FROM Track WHERE AlbumId = 5;",
  "input_v": "[-0.03132433444261551, 0.007282907608896494, -0.05262488126754761]..."
}

{
  "input": "Find the total number of invoices.",
  "query": "SELECT COUNT(*) FROM Invoice;",
  "input_v": "[-0.03636728599667549, 0.00570410443469882, 0.018415281549096107]..."
}

{
  "input": "List all tracks that are longer than 5 minutes.",
  "query": "SELECT * FROM Track WHERE Milliseconds > 300000;",
  "input_v": "[-0.05131032317876816, 0.027555543929338455, -0.04822220280766487]..."
}

{
  "input": "Who are the top 5 customers by total purchase?",
  "query": "SELECT CustomerId, SUM(Total) AS TotalPurchase FROM Invoice GROUP BY CustomerId ORDER BY TotalPurchase DESC LIMIT 5;",
  "input_v": "[-0.06663550436496735, 0.031154261901974678, -0.018245436251163483]..."
}

{
  "input": "How many employees are there",
  "query": "SELECT COUNT(*) FROM \"Employee\"",
  "input_v": "[-0.09272491186857224, 0.06430169939994812, -0.0049216425977647305]..."
}

In [36]:
question = "Let me know the 10 customers who purchased the most"

response = boto3_client.invoke_model(
    modelId=embed_model,
    body=json.dumps({"inputText": question})
)
question_v = json.loads(response['body'].read())['embedding']

print(str(question_v[:5]) + '...')

[-0.1028905063867569, 0.07878473401069641, 0.008488466963171959, -0.0003353128267917782, 0.015360083431005478]...

In [37]:
!pip install scipy numpy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scipy in /home/ec2-user/.local/lib/python3.9/site-packages (1.13.1)
Requirement already satisfied: numpy in /home/ec2-user/.local/lib/python3.9/site-packages (1.26.4)

In [38]:
import numpy as np
from scipy.spatial.distance import cosine
import heapq

def find_most_similar_samples(question_v, memory_storage, top_k=3):
    similar_docs = []

    for doc in memory_storage:
        # Cosine similarity 
        similarity = 1 - cosine(question_v, doc['input_v'])

        if len(similar_docs) < top_k:
            heapq.heappush(similar_docs, (similarity, doc))
        elif similarity > similar_docs[0][0]:
            heapq.heapreplace(similar_docs, (similarity, doc))


    return sorted(similar_docs, key=lambda x: x[0], reverse=True)

top_k = 3
top_similar_samples = find_most_similar_samples(question_v, memory_storage, top_k)

samples = ""
for i, (similarity, doc) in enumerate(top_similar_samples, 1):
    samples += f"\n{i}. Score: {similarity:.4f}\n"
    samples += f"Input: {doc['input']}\n"
    samples += f"Query: {doc['query']}\n"

print(samples)

1. Score: 0.6425
Input: Who are the top 5 customers by total purchase?
Query: SELECT CustomerId, SUM(Total) AS TotalPurchase FROM Invoice GROUP BY CustomerId ORDER BY TotalPurchase DESC LIMIT 5;

2. Score: 0.2385
Input: List all customers from Canada.
Query: SELECT * FROM Customer WHERE Country = 'Canada';

3. Score: 0.1200
Input: How many employees are there
Query: SELECT COUNT(*) FROM "Employee"

In [40]:
llm_model = "anthropic.claude-3-5-sonnet-20241022-v2:0"

sys_prompt = [{
    "text": f"""You are a {dialect} expert.
Given an input question, first create a syntactically correct SQLite query to run.
Unless the user specifies in the question a specific number of examples to obtain, query for at most {top_k} results using the LIMIT clause as per SQLite. You can order the results to return the most informative data in the database.
Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in double quotes (") to denote them as delimited identifiers.
Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
Pay attention to use date(\'now\') function to get the current date, if the question involves "today" 
    
<schema>
{table_info}
</schema>

<examples>
{example}
</examples>

<samples_queries>
{samples}
<samples_queries>
""" 
}]

In [39]:
def get_user_prompt(question):
    return [{
        "role": "user",
        "content": [{"text": f"<query>\n{question}</query>]"
        }]
    }]

response = converse_with_bedrock(boto3_client, sys_prompt, get_user_prompt(question))
print(response)

I'll help you find the top 10 customers based on their total purchases by joining the Customer and Invoice tables to get their names along with their total spending.

<thought_process>
1. We need to join Customer and Invoice tables
2. We'll sum up the Total amount from Invoice table for each customer
3. We'll include customer's first and last name for identification
4. Order by total purchase amount in descending order
5. Limit to top 10 customers
</thought_process>

<sql>
SELECT
    c."FirstName",
    c."LastName",
    c."Email",
    ROUND(SUM(i."Total"), 2) as "TotalPurchase"
FROM "Customer" c
JOIN "Invoice" i ON c."CustomerId" = i."CustomerId"
GROUP BY c."CustomerId", c."FirstName", c."LastName", c."Email"
ORDER BY "TotalPurchase" DESC
LIMIT 10;
</sql>

This query will return:
- Customer's first name
- Customer's last name
- Customer's email
- Their total purchase amount (rounded to 2 decimal places)
The results are ordered from highest to lowest total purchase amount, showing only the top 10 customers.

In [41]:
sql = response.split('<sql>')[1].split('</sql>')[0].strip()

sql_query = text(sql)
with Session(engine) as session:
    result = session.execute(sql_query)
    for row in result:
        print(row)

('Helena', 'Hol√Ω', 'hholy@gmail.com', 49.62)
('Richard', 'Cunningham', 'ricunningham@hotmail.com', 47.62)
('Luis', 'Rojas', 'luisrojas@yahoo.cl', 46.62)
('Ladislav', 'Kov√°cs', 'ladislav_kovacs@apple.hu', 45.62)
('Hugh', "O'Reilly", 'hughoreilly@apple.ie', 45.62)
('Frank', 'Ralston', 'fralston@gmail.com', 43.62)
('Julia', 'Barnett', 'jubarnett@gmail.com', 43.62)
('Fynn', 'Zimmermann', 'fzimmermann@yahoo.de', 43.62)
('Astrid', 'Gruber', 'astrid.gruber@apple.at', 42.62)
('Victor', 'Stevens', 'vstevens@yahoo.com', 42.62)